<p>Приветсвуем <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за черезмерного числа неудачных попыток авторизации.</p>

<p>Перейдите по ссылке ниже, что бы разблокировать свою учетную запись:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
