<% @products.each do |product| %>
  <div class="col-md-3">
    <div class="product">
      <div>
        <p> <%= link_to product.title, product  %> </p>
        <p> <%= link_to (image_tag product.product_image_url(:small)), product if product.product_image? %> </p>
        <p> <%= link_to product.category.title, '#' %> </p>
        <p> Цена: <b> <%= number_to_currency(product.price, locale: :en) %> </b> </p>
      </div>
    </div>
  </div>
<% end %>